



<!-- <div class="myOverride">

<p-calendar 
[(ngModel)]="SelectedDatee" 
styleClass="prime-slider-override"
[inline]="true" 
selectionMode="range" 
[focusTrap]="true"
dateFormat="dd.mm.yy"
(onSelect)="selectRange($event)"
>
    <ng-template pTemplate="footer">
        <hr>
        <button (click)="GetDates(SelectedDatee)">Apply</button>
    </ng-template>
</p-calendar>

</div> -->

<!-- <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="date1">
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="date1" >
            <input matEndDate placeholder="End date" [(ngModel)]="date2">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-calendar>


</mat-card>

    
  <p>Selected date: {{selected}}</p> -->

<mat-card  class="demo-inline-calendar-card" >
    <div class="close-btn">
        <mat-icon class="small-icon" (click) = "closeCalender()">close</mat-icon>
    </div>
    <mat-calendar
    class="custom"
    [headerComponent]="customHeader"
    [dateFilter]= "disableWeekendsFilter"
    [selected]="selectedRangeValue"
    (selectedChange)="selectedChange($event)">
    </mat-calendar>
    <mat-divider></mat-divider>
    <div class="apply-btn">
        <button (click)="outputDateRanges()">Apply</button>
    </div>
</mat-card>









  
