
button{
  background-color: rgb(24, 24, 109);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  float: right;
  width: 25%;
  display: flex;
  justify-content: center;
}



.demo-inline-calendar-card {
  width: 300px;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
}

.apply-btn{
  padding: 20px;
}


