button {
  background-color: #223484;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 25px;
  cursor: pointer;
  float: right;
  display: flex;
  justify-content: center;
}



.demo-inline-calendar-card {
  width: 300px;
  border: 1px solid rgb(212, 212, 212);

}

.apply-btn {
  padding: 10px;
}

.close-btn {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 20px 0 0;
}


.small-icon {
  font-size: 18px;
  color: #223484;
  cursor: pointer;
  display: flex;
  float: right;
}