
button{
  background-color: rgb(24, 24, 109);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  float: right;
  width: 25%;
  display: flex;
}



.demo-inline-calendar-card {
  width: 300px;
}