.textBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* .fontOptions{
  display: flex;
  width: 30%;
  justify-content: space-around;
  padding: 10px;
  
} */

.fontOptions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

/* Style the font option buttons */
.fontOptions button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.fontOptions button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.fontOptions input[type="number"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 5px;
}

textarea{
  border: 2px solid grey;
  border-radius: 5px;
  text-overflow: ellipsis;
  resize: inherit;
}

section{
  font-size: 14px;
  color: white;
  background-color: #007bff; 
  border-radius: 5px;
  padding: 5px;
}

input{
  border: none;
}


.post {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745; /* Green background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.post:hover {
  background-color: #218838; /* Darker green on hover */
}