.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: 1px solid #a4a2a2;
  margin-bottom: 10px;
  width: 75%;
}

.accordion-header  {
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  font-size: larger;
}


.accordion-content {
  padding: 10px;
  display: none;
  background-color: #eaeef8;
}

.accordion-content.open {
  display: flex;
}


