

.form-field {
    display: flex;
    align-items: baseline;
    width: 50%;
}

input{
    width: 80%;
}

.icons{
    display: flex;
    float: right;
    align-items: baseline;
    align-content: baseline;
}
 
  button {
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px 16px; /* Adjust padding as needed */
    cursor: pointer;
  }
  