.container{
    width: 100%;
    left: 0;
    top: 0;
    text-transform: uppercase;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

.left, .right {
    min-width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px
}


.header2{
    background-color: rgb(211, 211, 245);
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 10px;
    text-transform: capitalize;
}

.content-header{
    margin-top: 15px;
    background-color: rgb(17, 17, 102);
    padding: 5px;
    color: white;
}

.distribution-form{
    display: flex;
}

.distribution-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.light-blue-header{
    background-color: rgb(151, 151, 187);
}

.left-pane p{
    border: none;
    background-color: rgb(17, 17, 102);
    padding: 20px;
    color: aliceblue;
    font-size: small;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }




