<div class="container">

    <div class="header" >
       <div class="left">
        <p>LOGO</p>
        <p>TITLE</p>
        <p>[<-]</p>
        <p>back to dashboard</p>
       </div>
       <div class="right">
            <p>Notifications</p>
            <p>Settings</p>
       </div>
    </div>

    <div class="header2">
        <h4>CREATE WHAT IF ANALYSIS</h4>
        <h3>&nbsp;|&nbsp;</h3>
        <p>Steps to create what if analysis</p>
    </div>

    <div class="content-header" >
        <p>Select Any Distribution Style</p>
    </div>

    <div class="distribution-form">
        <div class="left-pane">
            <p> Baseline </p>
            <p> Schedule Type</p>
            <p>Distribution Type</p>
        </div>

        <div class="distribution-header">
            <div class="left ">
                <p>Base Name ABCD</p>
                <div class="right">
                    <p>Base Line Id</p>
                    <p>97125415-1256</p>
                    <p>Private #</p>
               </div>
           </div>

          

        </div>


    </div>

</div>

