/* You can add global styles to this file, and also import other style files */
/* @import 'semantic-ui-css/semantic.css'; */
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */

@import "~@ng-select/ng-select/themes/material.theme.css"; 


/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import 'material-icons/iconfont/material-icons.css';

/* styles.scss or your custom CSS file */

.mat-calendar-body-label{  visibility: hidden;}

.mat-calendar-table{
  padding: 5px;
}

.mat-calendar-table-header th {
  text-align: center;
  color:#223484;
  font-weight: 600;
  font-size: 16px;
  font-family: monospace;
}

.mat-calendar-body-cell-content {
  color: #6f4aff;
  font-weight: 600;
}

.mat-calendar-body-selected {
  background: #223484;

  color: white;
  font-weight: 700;
}
.mat-calendar-body-in-range::before {
  background: #223484;
  color: white;
}

.mat-calendar-table-header-divider::after{
  background-color: rgb(0 0 0 / 0%);
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 20px;
  height: 14px;
  padding: 0px;
}


  
